.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  height: 40px;
}

.search-form {
  position: relative;
  margin-right: auto;
  margin-left: auto;

  &__input {
    border-radius: 5px;
    height: 30px;
  }

  &__btn {
    border-radius: 5px;
    border-color: transparent;
    background-color: rgb(226, 225, 225);
    position: absolute;
    top: 3;
    transform: translateX(-106%);
    color: black;

    &:hover {
      background-color: rgb(188, 192, 192);
    }
  }
}
