<header class="header">
  <form class="search-form" id="search-form">
    <input
      class="search-form__input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button class="search-form__btn" type="submit">&#128269;</button>
  </form>
  <div class="infinite">Infinite scroll</div>
  <div class="switcher">
    <input type="checkbox" id="switcher-control" class="switcher-control" />
    <label
      for="switcher-control"
      class="switcher-checkbox"
      data-checkbox-false="no"
      data-checkbox-true="yes"
    ></label>
  </div>
</header>
